footer
	.scripts-area
	//- .wrapper
	//- 	.column.rek
	//- 		p.y ЧКУП "Агентство рекламы и веб-разработки ВТОП3"
	//- 		p Свидетельство №192826921 от 06.04.2020г. зарегистрировано Минским горисполкомом
	//- 		p УНП 192826921 <br> ОКПО 504044705000
	//- 		ul
	//- 			li
	//- 				a(href="#") Публичный договор (публичная оферта)
	//- 			li
	//- 				a(href="#") Политика конфиденциальности
	//- 			li
	//- 				a(href="#") Условия оказания услуг
	//- 		p.y Оценка качества
	//- 		p Средняя оценка клиентов <span class="circle">4.8</span>
	//- 		p Всего отзывов <span class="circle">12</span>
	//- 	.column.cont
	//- 		p.y Пн-Пт
	//- 		p с 9:00 до 17:00
			
	//- 		p.y Контакты
	//- 		span.hidden(data-content="+375 666") показать номер
	//- 		span.hidden(data-content="info@vtop3.by") показать e-mail
	//- 		ul
	//- 			li
	//- 				a(href="")
	//- 					img(src="/assets/img/icons/skype.svg")
	//- 			li
	//- 				a(href="") 
	//- 					img(src="/assets/img/icons/wa.svg")
	//- 			li
	//- 				a(href="") 
	//- 					img(src="/assets/img/icons/viber.svg")
	//- 			li
	//- 				a(href="")
	//- 					img(src="/assets/img/icons/tg.svg")
	//- 		p.y Мы в соцсетях
	//- 		ul
	//- 			li
	//- 				a(href="")
	//- 					img(src="/assets/img/icons/vk.svg")
	//- 			li
	//- 				a(href="") 
	//- 					img(src="/assets/img/icons/od.svg")
	//- 			li
	//- 				a(href="") 
	//- 					img(src="/assets/img/icons/fb.svg")
	//- 			li
	//- 				a(href="")
	//- 					img(src="/assets/img/icons/inst.svg")
	//- 			li
	//- 				a(href="")
	//- 					img(src="/assets/img/icons/yt.svg")
	//- 	.column.addr
	//- 		p.y Юридический адрес
	//- 		p Беларусь, г.Минск, ул. Короля д.17
	//- 		p.y Почтовый адрес
	//- 		p 220089, а/я 113, г.Минск
	//- 		p.y Способы оплаты
	//- 		img.pay(src="/assets/img/icons/pay.png")

.mobile_menu
	ul
		li
			a(href="#") Продвижение сайтов
		li
			a(href="#") Контекстная реклама
		li
			a(href="#") Создание сайтов
		li
			a(href="#") Медийная реклама
		li
			a(href="#") Разработка дизайна
		li
			a(href="#") Продвижение в соц. сетях (SMM)
		li
			a(href="#") Портфолио
		li
			a(href="#") О компании

