header
	.wrapper
		.row
			img.burger(src="/assets/img/icons/burger.svg" style="display: none")
			a.logo(href="/")
				img(src="/assets/img/logo.svg" width="342")
			ul
				li 
					img(src="/assets/img/icons/phone.svg")
					a(href="tel:+375 (29) 257-70-07") +375 (29) 257-70-07
				li
					img(src="/assets/img/icons/envelope.svg") 	
					a(href="mailto:3577007by@gmail.com") 3577007by@gmail.com
		.row
			ul.nav
				li.under
					a(href="#") Все услуги
				li.parent
					a(href="#") Продвижение сайтов (SEO)
					ul.inner.dd
						li
							a(href="#") Продвижение по позициям
						li
							a(href="#") Продвижение по лидам
				li.parent
					a(href="#") Контекстная реклама
					ul.inner.dd
						li
							a(href="#") С оплатой за лиды
						li
							a(href="#") С фиксированной оплатой
				li.parent
					a(href="#") Создание сайтов
					.dd.section
						ul.inner
							li
								a(href="#") Верстка сайтов
							li
								a(href="#") Администрирование сайтов
						ul.inner
							li.parent.right
								a(href="#") Разработка сайтов с CMS
								ul.inner
									li
										a(href="#") Wordpress
									li
										a(href="#") 1C
									li
										a(href="#") MODX
							li
								a(href="#") Разработка корпоративных сайтов
				li
					a(href="#") Медийная реклама
				li.parent
					a(href="#") Разработка дизайна
					.dd.section
						ul.inner
							li.parent.left
								a(href="#") Разработка веб-дизайна
								ul.inner
									li
										a(href="#") Сайта
									li
										a(href="#") Лендинга
							li
								a(href="#") Баннеров
							li
								a(href="#") Создание логотипов
						ul.inner
							li
								a(href="#") Дизайн листовок		
							li
								a(href="#") Фирменных бланков
				li
					a(href="#") Продвижение соц.сетях			
				li.under
					a(href="#") О компании