.header-swiper
	.swiper
		.swiper-wrapper
			.swiper-slide
				.dsc
					span.h1 разработка
					span.yellow сочных, неповторимых
					span.h1 логотипов
					h2 От стартапов до крупного бизнеса
					h2 Мы знаем как сделать чтобы вас заметили
					button.yellow Разработать логотип
				.img
					picture
						source(srcset="/assets/img/head-slider/01.webp" type="image/webp")
						img(src="/assets/img/head-slider/01.png")
					.role
						span.name Александ Иванов
						span.position Веб-разработчик

			.swiper-slide
				.dsc
					span.h1 Заголовок 2
					button.yellow Разработать логотип
				.img
					picture
						source(srcset="/assets/img/head-slider/02.webp" type="image/webp")
						img(src="/assets/img/head-slider/02.png")
					.role
						span.name Михаил Сунцов
						span.position Директор
.cases
	.wrapper
		h2 Наши кейсы
		h3 по созданию логотипов
		p В портфолио более 50 оформленых кейсов в 30-ти сферах деятельности
		section
			#masonry
				.block
					figure
						img(src="/assets/img/masonry/01.jpg" width="577" height="577")
						figcaption Разработка логотипа для ООО «ПОЛСПО»
					figure
						img(src="/assets/img/masonry/02.jpg" width="274" height="274")
						figcaption Nostrud commodo sint labore irure consectetur dolor
					figure
						img(src="/assets/img/masonry/03.jpg" width="274" height="274")
						figcaption Mollit commodo sunt quis amet
				.block
					figure
						img(src="/assets/img/masonry/07.jpg" width="274" height="274")
						figcaption Pariatur labore proident labore duis ullamco nisi
					figure
						img(src="/assets/img/masonry/08.jpg" width="274" height="274")
						figcaption Nostrud commodo sint labore irure consectetur dolor
					figure
						img(src="/assets/img/masonry/09.jpg" width="577" height="577")
						figcaption Mollit commodo sunt quis amet
				.block
					figure
						img(src="/assets/img/masonry/04.jpg" width="274" height="274")
						figcaption Pariatur labore proident labore duis ullamco nisi
					figure
						img(src="/assets/img/masonry/05.jpg" width="274" height="274")
						figcaption Nostrud commodo sint labore irure consectetur dolor
					figure
						img(src="/assets/img/masonry/06.jpg" width="577" height="577")
						figcaption Mollit commodo sunt quis amet
					figure
						img(src="/assets/img/masonry/10.jpg" width="274" height="274")
						figcaption Mollit commodo sunt quis amet
					figure
						img(src="/assets/img/masonry/11.jpg" width="274" height="274")
						figcaption Mollit commodo sunt quis amet

			.float
				p Наши клиенты <br> получили более
				span.h1.yellow 1 млн.
				span.h1 заявок
				p и смогли <br> заработать более
				span.h1.yellow 9 млрд.
				span.h1 рублей
				button.yellow Хочу заработать
