.swiper

// https://codesandbox.io/p/sandbox/9y2bpk?file=%2Findex.html&selection=%5B%7B%22endColumn%22%3A17%2C%22endLineNumber%22%3A74%2C%22startColumn%22%3A17%2C%22startLineNumber%22%3A74%7D%5D
// speed https://codepen.io/coded_fae/pen/GRqGGQo