// grid
#masonry
	.block
		figure
			img(src="/assets/img/masonry/01.jpg" width="577" height="577")
			figcaption Разработка логотипа для ООО «ПОЛСПО»
		figure
			img(src="/assets/img/masonry/02.jpg" width="274" height="274")
			figcaption Nostrud commodo sint labore irure consectetur dolor
		figure
			img(src="/assets/img/masonry/03.jpg" width="274" height="274")
			figcaption Mollit commodo sunt quis amet
	.block
		figure
			img(src="/assets/img/masonry/07.jpg" width="274" height="274")
			figcaption Pariatur labore proident labore duis ullamco nisi
		figure
			img(src="/assets/img/masonry/08.jpg" width="274" height="274")
			figcaption Nostrud commodo sint labore irure consectetur dolor
		figure
			img(src="/assets/img/masonry/09.jpg" width="577" height="577")
			figcaption Mollit commodo sunt quis amet
	.block
		figure
			img(src="/assets/img/masonry/04.jpg" width="274" height="274")
			figcaption Pariatur labore proident labore duis ullamco nisi
		figure
			img(src="/assets/img/masonry/05.jpg" width="274" height="274")
			figcaption Nostrud commodo sint labore irure consectetur dolor
		figure
			img(src="/assets/img/masonry/06.jpg" width="577" height="577")
			figcaption Mollit commodo sunt quis amet
		figure
			img(src="/assets/img/masonry/10.jpg" width="274" height="274")
			figcaption Mollit commodo sunt quis amet
		figure
			img(src="/assets/img/masonry/11.jpg" width="274" height="274")
			figcaption Mollit commodo sunt quis amet
			