// masonry.js
#masonry
	.grid-item.grid-item--width2
		figure
			img(src="/assets/img/masonry/01.jpg")
			figcaption Dolore est voluptate nisi eiusmod mollit
	.grid-item
		figure
			img(src="/assets/img/masonry/02.jpg")
			figcaption Occaecat minim minim excepteur
	.grid-item
		figure
			img(src="/assets/img/masonry/03.jpg")
			figcaption Laborum reprehenderit labore incididunt 
	.grid-item
		figure
			img(src="/assets/img/masonry/04.jpg")
			figcaption Consectetur culpa deserunt sint dolore laborum 
	.grid-item
		figure
			img(src="/assets/img/masonry/05.jpg")
			figcaption Exercitation consequat nulla incididunt 
	.grid-item.grid-item--width2
		figure
			img(src="/assets/img/masonry/06.jpg")
			figcaption Officia laboris elit incididunt anim et consequat veniam.
	.grid-item
		figure
			img(src="/assets/img/masonry/07.jpg")
			figcaption Esse magna do anim ullamco elit enim ad.
	.grid-item
		figure
			img(src="/assets/img/masonry/08.jpg")
			figcaption Sunt dolor aliquip incididunt nulla nostrud sint aliqua ex labore qui anim.
	.grid-item.grid-item--width2
		figure
			img(src="/assets/img/masonry/09.jpg")
			figcaption Laborum amet proident pariatur aute sit mollit aliqua et deserunt commodo pariatur est.
	.grid-item
		figure
			img(src="/assets/img/masonry/10.jpg")
			figcaption Duis duis cillum velit nostrud eiusmod